footer#footer
  p Let's use a variety of frontend frameworks to build the same ToDo App!
  p#copyright
    | Copyright &copy;
    |
    span#full-year
    | &nbsp;
    a(href="https://github.com/Dragon-Fish/learn-frontend", target="_blank", rel="noopener noreferrer") Dragon-Fish