article
  #choose-hero
    h2#title 选择你的英雄！
    .hero-list
      a.hero-card(href='/react/')
        .hero-avatar
          img(src="/images/react-logo.svg")
        .hero-name
          h3.hero-title React.js
          .hero-desc A JavaScript library for building user interfaces
      a.hero-card(href='/vue3/')
        .hero-avatar
          img(src="/images/vue-logo.png")
        .hero-name
          h3.hero-title Vue.js 3.0
          .hero-desc The Progressive JavaScript Framework
