include ../components/HeroCard.pug

-
  const heroList = [
    {
      name: 'Angular',
      link: '/angular',
      img: 'angular-logo.svg',
      desc: `The modern web developer's platform`,
      invalid: true,
    },
    {
      name: 'React.js',
      link: '/react',
      img: 'react-logo.svg',
      desc: 'A JavaScript library for building user interfaces',
    },
    {
      name: 'Svelte',
      link: '/svelte',
      img: 'svelte-logo.png',
      desc: 'Cybernetically enhanced web apps',
    },
    {
      name: 'Vue.js 3.0',
      link: '/vue3',
      img: 'vue-logo.png',
      desc: 'The Progressive JavaScript Framework',
    }
  ]
-

main
  article
    #choose-hero
      h2#title 选择你的英雄！
      .hero-list
        each hero in heroList.sort()
          +HeroCard(hero)